@import "include-media/dist/include-media";

//breakpoints
$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1350px,
);

/*
  Media Query useage

  @include media($breakpoints) {

  }

*/
